
.balance-cnt {
    box-sizing: border-box;
    min-width: 160px;
    width: 180px;
    min-height: 120px;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background:#F4E0D9;
    flex-grow: 1;
}

.balance-cnt img {
    width: 28px;
    height: 28px;
}

.heading {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: gray;
    margin: 0;
}

.sub-heading {
    font-size: 46px;
    text-align: center;
    color: black;
    margin: 0;
}

.sub-heading > span {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: black;
    margin: 0;
}
