/*LatestRequest*/
.latestrequest-cnt {
    box-sizing: border-box;
    /*max-width: 500px;*/
    border: solid lightgoldenrodyellow;
    grid-column: 1 / 3;
}

.latestrequest-entry-cnt {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*RequestEntry*/
.requestentry-cnt {
    box-sizing: border-box;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    border: solid lightblue;
    padding: 0;
    margin-bottom: 10px;
    background-color: black;
}

.requestentry-cnt p {
    padding: 0 20px;
    text-align: left;
}

.requestentry-cnt > p:nth-child(2) span {
    display: block;
}

.requestentry-cnt > p:nth-child(2) {
    padding-right: 100px;
    flex-grow: 2;
}

.requestentry-cnt > p:nth-child(3) {
    display: flex;
    align-items: center;
}
