/*LatestRequest*/
.latestrequest-cnt {
    box-sizing: border-box;
    border-radius: 5px;
    grid-column: 1 / 2;
}

.latestrequest-cnt > tr:nth-child(1) {
    font-size: 22px;
    font-weight: 400px;
    text-align: left;
    color: black;
}

.latestrequest-entry-cnt {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*RequestEntry*/
.requestentry-cnt {
    box-sizing: border-box;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    padding-right: 20px;
    margin: 20px 0;
    border-radius: 5px;
    color: black;
    background-color: #F4E0D9;
} 

.requestentry-cnt p {
    padding: 0 20px;
    text-align: left;
}

.requestentry-cnt > p:nth-child(2) span {
    display: block;
}

.requestentry-cnt > p:nth-child(2) {
    padding-right: 100px;
    flex-grow: 2;
}

.requestentry-cnt > p:nth-child(2) > span:first-child {
    font-weight: 600;
}

.requestentry-cnt > p:nth-child(3) {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: yellow;
}
