#root {
  min-width: 99vw;
  min-height: 99vh;
  position: relative;
}

/*--Header--*/

.nav-cnt {
  box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    height: 50px;
    border: solid red;
}

/*----*/

.main-cnt {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  min-width: 100%;
  padding: 0;
  margin: 0;
  border: solid white;
}

/*--Sidebar--*/

.main-sidebar-cnt {
  max-width: 15%;
  width: 15%;
  border: solid blue;
}

.a-btn {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  padding-top: 5px;
  border: solid yellow;
  text-decoration: none;
  color: white;
}

.a-btn:hover {
  color: gray;
}

/*----*/


.main-viewport-cnt{
  max-width: 85%;
  width: 85%;
  border: solid rebeccapurple;
}